html {
    background-color: #fffff0;
  }

body {
    width:1000px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30pt;
    border: 2px solid red;
    background-color:#aac58f;
    padding: 50px 50px;
    margin:auto auto;
}

h1 {
    font-size:40pt;
    font-weight:normal;
    text-align: center;
    height: 150px;
}

.question {
    font-size:30pt;
    height: 100px;
    text-align: center;
}

.choice {
    font-size:40pt;
    text-align: center;
    vertical-align: 2em;
    font-family: 'Times New Roman', Times, serif;
    width: 950px;
    height:200px;
    border-color: black;
    border-width:0.2ex;
}

.correct{ /* đáp an đúng */
    border-color:red;
    border-width:1ex;
}

.userchoice { /* đáp án người dùng chọn*/
    background-color:gray;
}

#result,#restart {
    font-weight: bolder;
    text-align: center;
    width: 400px;
    font-size: 50pt;
    background-color:darkgoldenrod;
    border-width:0.2ex;
}

button,#button{
    text-align: center;
    border-radius: 20px;
}

