html {
  background-color: #078187;
}

h1  {
  color: brown;
  background-color: green;
  padding:2px 2px 2px 2px;
}

h2  {
  color: blue;
}

h3  {
  color: red;
}

p,
ul  {
  color: #ffffa0;
  line-height:5;
  background-color: blue;
  padding:2px 2px 2px 2px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
