html {
  background-color: #fffff0;
}

body  {
  font-size: 20pt;
  background-color: #aac58f;
  width: 600px;
  border: 2px solid red;
  padding: 50px 50px;
  margin:auto auto;
}

h1  {
  background-color: white;
  text-align: center;
}

p,
ol {
  line-height:2;
  background-color: white;
  padding: 0px 10px 0px 50px;
}

li{
  line-height: 2;
}

span {
  font-style: italic;
}

footer {
  font-size: small;
  color: white;
}