body {
    width: auto;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
}
h1 {
    font-size:40pt;
    color: black;
    text-align: center;
}

.question {
    font-size:40pt;
    text-align: center;
    color: blue;
}

.choice {
    font-size:40pt;
    color:red;
    text-align: center;
    vertical-align: 1em;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
}
.correct{
    background-color: green;
    color:black;
}
#mark {
    color: red;
    font-weight: bolder;
    text-align: center;
}

#restart {
    color:green;
    font-weight:bolder;
    text-align: center;
}
